@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <a href="~/Home/Predict"><img src="~/images/header-hearts.png" class="img-responsive" /></a>
</div>

