@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h1>Benvenuto!</h1>
    <span>In questa pagina verranno mostrati gli alert</span>
</div>

<!-- Modal -->
<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Alert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/js/hubs/alerts.js"></script>
}